@import '../../settings';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.trello-master{
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: var(--app-main-color);

    .icon{
      font-size : 14px;
      margin-right : 3px;
    }

}
.form-input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.board-columns{
  display: flex;
  overflow-x: auto;
  margin: 0 var(--gap) var(--gap) 0;
  gap: 10px;

  &::-webkit-scrollbar-:horizontal{
      height: 11px;
  }
  &::-webkit-scrollbar-thumb{
      background-color: rgba(255,255,255,0.24);
      border-radius:5px solid var(--list-bg-color) ;
  }
  .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
  }
  
  .add-new-column{
      width: 250px;
      // height: 32px;
      line-height: 32px;
      padding: 4px 0 4px 15px ;
      cursor: pointer;
      color: white;
      margin-left: var(--gap);
      font-size: 15px;
      background-color: hsla(0, 0, 100, .24);
      border-radius: var(--card-border-radius);

      &:hover{
          background-color: hsla(0, 0, 100, .34);
      }
  }
  
}