:root{
  --board-bg-color: #0079bf;
  --navbar-app-bg-color: #0067a3;
  --navbar-board-bg-color: #0079bf;
  --list-bg-color: #ebecf0 ;
  --board-icon-color: #ebecf0 ;
  --app-main-color : #333;
  --gap: 10px;
  --column-header-height: 36px;
  --column-footer-height: 36px;
  --column-border-radius: 5px;
  --card-border-radius: 3px;

  --screen-lg:1201px;
  --screen-md:992px;
  --screen-sm:768px;
  --screen-phone:480px;
  --screen-ip6-down:'(max-width:375px)';
}


.trello-master{
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: var(--board-bg-color);
}

div.boards{
  border: solid 2px black;
  margin: 10px ;
  width: 100px;
  height: 100px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  font-size: 14px;
  background-color: var(--board-bg-color);
  display: flex;

}
div.board-container{
  width: 75vw;
  height: 50vw;
  border: solid 10px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: var(--gap);
  gap: 30px 30px;


}

div.board{
  order: 4;
  width: 100px;
  display: flex;
  align-self: center;
  width: 50px;
  align-self: center;
  background-color: var(--board-icon-color);
}

.add-new-board:hover{

  color: grey;

}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.board-columns{
  width: 100vh;
  height: 100vh;
}